{% extends 'base.html.twig' %}

{% block title %}Prendre un Rendez-vous En Ligne dans les meilleurs médecins au Maroc - docrapide.ma
              {% endblock %}
{% block body %}
<div id="wrapper">
        <!-- Content-->
        <div class="content">
        <!-- Flash -->
			{% for label, messages in app.flashes %}
				<div class="container" style="width: auto;">
					<div class="alert alert-{{ label }}">
						{% for message in messages %}
							<p>
								{{message | raw}}
							</p>
						{% endfor %}
					</div>
				</div>
			{% endfor %}
			<!-- end flash -->

        <div class="main-register-holder">
            <div class="main-register fl-wrap">
               
                <h3>Se connecter à <span>Doc<strong>Rapide</strong></span></h3>
                <div id="tabs-container">
                    
                    <div class="tab">
                        <div id="tab-1" class="tab-content">
                            <div class="custom-form">
                                {% if hasError %}
                                   <div class="alert alert-danger" role="alert" style="color: red;"> Une erreur est survenue, le nom d'utilisation 
                                       ou le mot de passe est invalide </div>
                                {% endif %}
                                <form action="{{path('account_login')}}" method="post" name="registerform">
                                    <label>Adresse Email  * </label>
                                    <input name="_username" type="email" id="email"  onClick="this.select()" value="">
                                    <label >Mot de passe * </label>
                                    <input name="_password" type="password"   onClick="this.select()" value="" >
                                    <button type="submit"  class="log-submit-btn"><span>Log In</span></button>
                                    <div class="clearfix"></div>
                                    <a href="{{path('app_forgot_password_request')}}">Mot de passe oublié</a>
                                </form>
                                <div class="tab-content">
                                    <a href="#">Mot de passe oublié?</a>
                                </div>
                            </div>
                        </div>
                        <div class="tab">
                            <div id="tab-2" class="tab-content">
                                      
                                <div class="custom-form">
                                          <a href="">Mot de passe oublié</a>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-register-holder">
            <div class="main-register fl-wrap">
                <h3>Vous êtes professionnel de santé ?</h3>
                <div class="col">
                    <a href="{{path('account_registerpro')}}" class="col bold" style="font-weight: 700;
                    font-size: 19px;
                    color: #4DB7FE;" href="#">S'inscrire</a>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
